<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS style -->
    <link rel="stylesheet" href="/public/static/css/style-guestHome.css" />
    <title>MileEASY 유저 추천 여행지</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Jquery CDN -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <!-- FontAwesome CDN -->
    <script
      src="https://kit.fontawesome.com/3cc7440731.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
      <!-- nav바 영역 -->
      <div class="header">
        <nav class="navbar">
          <div class="navbar-container container-nav">
            <input type="checkbox" name="" id="" />
            <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>
            <ul class="menu-items">
              <li><a href="#">Marine</a></li>
              <li><a href="#">Hyonie</a></li>
              <li><a href="#">Rooney</a></li>
              <li><a href="#">Nyondoo</a></li>
              <li><a href="#">GSIII</a></li>
            </ul>

            <h1 class="logo" alt="" onclick="location.href='/'">MileEASY</h1>
          </div>
        </nav>
      </div>

        <!-- 게스트 방명록 -->
      <section guestSection>
          <div class="swiper mySwiper guestContainer">
            <div class="swiper-wrapper content" id="card">
              <!-- 방명록 시작 -->
              <% for (i=0; i<data.length; i++) { %>
                <div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                        <img src="<%=data[i].imgpath%>" alt="프로필 이미지"/>
                    </div>
                    <div class="userMbti">
                      <span><%=data[i].mbti%></span>
                    </div>
                    <div class="userId-userContent">
                      <span class="userId"><%=data[i].name%></span>
                      <span class="userContent"><%=data[i].comment%></span>
                    </div>
                      <input type="hidden" name="rc" value="<%=data[i].rc_id%>">
                      <div class="button">
                          <!-- <button class="delete" onclick="cardDelete()">delete</button> -->
                      </div>
                  </div>
                </div>
              <% } %>
              <!-- 게스트 방명록 종료 -->
            </div>
          </div>
          <div class="swiper-button-next" style="color: #f90"></div>
          <div class="swiper-button-prev" style="color: #f90"></div>
          <div class="swiper-pagination"></div>
          
      </section>
      

      <!-- 여행 방명록 버튼 -->
      <div class="user-card-button">
        <button id="mycard" class="" type="button" onclick="mycard()">나의 방명록 보러가기</button>
        <button class="d-none" id="back" type="button" onclick="back()">돌아가기</button>
        <button type="button" onclick="guest_post()">여행 추천하러가기</button>
      </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        slidesPerGroup: 3,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });

      function guest_post() {
        if (<%=isLogin%>) {
          document.location.href="/guest_post";
        } else alert ("로그인 유저만 이용할 수 있는 서비스입니다.");
      }

      var card = document.querySelector("#card");
      function mycard() {
        if (!<%=isLogin%>) {
          alert ("로그인을 해주세요!");
        } else {
          axios({
            method : 'get',
            url : '/mycard'
          })
          .then((res)=> {
          //기존 카드를 싹 민다
          //내 카드만 보여준다
          console.log(res);
          console.log(res.data[0]);
          let html = ""
          for (i=0; i<res.data.length; i++) {
              html +=
                `<div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                        <img src="${res.data[i].imgpath}" alt="프로필 이미지" />
                    </div>
                    <div class="userMbti">
                      <span>${res.data[i].mbti}</span>
                    </div>
                    <div class="userId-userContent">
                      <span class="userId">${res.data[i].name}</span>
                      <span class="userContent">${res.data[i].comment}</span>
                    </div>
                      <input type="hidden" name="rc" value=${res.data[i].rc_id}>
                      <div class="button">
                          <button type="button" class="delete" onclick="cardDelete(this)">delete</button>
                      </div>
                  </div>
                </div>`
            }
            card.innerHTML = html;
            $("#mycard").addClass('d-none');
            $("#back").removeClass('d-none');
          });
        }
      }
      
      function back() {
        window.location.href = '/guest_home';
        $("#back").addClass('d-none');
        $("#mycard").removeClass('d-none');
      }

      function cardDelete(a) {
        let rc = a.parentNode.previousSibling.previousElementSibling;
        console.log(rc);
        axios({
          method : 'post',
          url : '/mycard',
          data : {
            rc_id : rc.value
          }
        })
        .then((res)=>{
          let html = ""
          for (i=0; i<res.data.length; i++) {
              html +=
                `<div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                        <img src="${res.data[i].imgpath}" alt="프로필 이미지" />
                    </div>
                    <div class="userMbti">
                      <span>${res.data[i].mbti}</span>
                    </div>
                    <div class="userId-userContent">
                      <span class="userId">${res.data[i].name}</span>
                      <span class="userContent">${res.data[i].comment}</span>
                    </div>
                      <input type="hidden" name="rc" value=${res.data[i].rc_id}>
                      <div class="button">
                          <button type="button" class="delete" onclick="cardDelete(this)">delete</button>
                      </div>
                  </div>
                </div>`
          }
          card.innerHTML = html;
        });
      }

    </script>
  </body>
</html>
