<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/static/css/result.css">
    <script defer src="https://maps.googleapis.com/maps/api/js?key=<%=MAP_API_KEY%>&callback=initMap"></script>
    <script type="text/javascript" src="/public/static/location.json"></script>

</head>

<body>

    <img src="../public/static/img/Logo.png" alt="" class="logo" onclick="location.href='/'">
    <div class="panel">
        <h1 class="text1">당신의 mbti는</h1>
        <div class="result-box">
            <h1 class="mbti"><%=mbti%></h1>
        </div>

        <div class="tour-box">
            <h1 class="country">추천 여행지는 <%=spot%> 입니다.</h1>
            <div class="tour"></div>
        </div>
        <% if (mbti=='ENFJ') { %>
            <img src='public/static/img/enfj.png'>
        <% } %>
        <% if(mbti=='ENFP') { %>
            <img src="public/static/img/enfp.png">
        <% } %>
        <% if(mbti=='ENTJ') { %>
            <img src="public/static/img/entj.png">
        <% } %>
        <% if(mbti=='ENTP') { %>
            <img src="public/static/img/entp.png">
        <% } %>
        <% if(mbti=='ESFJ') { %>
            <img src="public/static/img/esfj.png">
        <% } %>
        <% if(mbti=='ESFP') { %>
            <img src="public/static/img/esfp.png">
        <% } %>
        <% if(mbti=='ESTJ') { %>
            <img src="public/static/img/estj.png">
        <% } %>
        <% if(mbti=='ESTP') { %>
            <img src="public/static/img/estp.png">
        <% } %>
        <% if(mbti=='INFJ') { %>
            <img src="public/static/img/infj.png">
        <% } %>
        <% if(mbti=='INFP') { %>
            <img src="public/static/img/infp.png">
        <% } %>
        <% if(mbti=='INTJ') { %>
            <img src="public/static/img/intj.png">
        <% } %>
        <% if(mbti=='INTP') { %>
            <img src="public/static/img/intp.png">
        <% } %>
        <% if(mbti=='ISFJ') { %>
            <img src="public/static/img/isfj.png">
        <% } %>
        <% if(mbti=='ISFP') { %>
            <img src="public/static/img/isfp.png">
        <% } %>
        <% if(mbti=='ISTJ') { %>
            <img src="public/static/img/istj.png">
        <% } %>
        <% if(mbti=='ISTP') { %>
            <img src="public/static/img/istp.png">
        <% } %>


    <div class="information">
        <!-- <ul>
            <li class="spot">정보<br><%=info%></li>
        </ul> -->
    </div>


    </div>

        <ul class="menu">
            <li class="menu-item">
            <div class="item">정보</div>
                <ul class="info" style="white-space: pre-line;">
                    <div class="text2"><%= info %></div> 
                </ul>
            </li>
            <li class="menu-item">
                <div class="item">위치</div>
                    <ul class="info">
                        <div id="map"></div>
                    </ul>
                </li>
                <li class="menu-item">
                    <div class="item">기타</div>
                        <ul class="info" style="white-space: pre-line;">
                            <div class="text3"><%= etc %></div> 
                        </ul>
                    </li>
        </ul>


    <div class="btn">
        <button type="button" class="test-again" onclick="location.href='/mbtitest'">테스트 다시 하기</button>
        <button type="button" class="goto-main" onclick="location.href='/'">메인으로 돌아가기</button>
    </div>

    <script>

        window.initMap = function () {
            const map = new google.maps.Map(document.getElementById("map"), {
            center: {lat : map_location.<%=mbti%>.lat, lng : map_location.<%=mbti%>.lng},
            zoom: 10,
            });
        };
    </script>
</body>

</html>