<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/static/css/result.css">
    <script defer src="https://maps.googleapis.com/maps/api/js?key=<%=MAP_API_KEY%>&callback=initMap"></script>
</head>

<body>

    <img src="../public/static/img/Logo.png" alt="" class="logo" onclick="location.href='/'">
    <div class="panel">
        <h1 class="text1">당신의 mbti는</h1>
        <div class="result-box">
            <h1 class="mbti"><%=mbti%></h1>
        </div>

        <div class="tour-box">
            <h1 class="country">추천 여행지는 <%=spot%> 입니다.</h1>
            <div class="tour"></div>
        </div>
        <% if (mbti=='ENFJ') { %>
            <img src='public/static/img/enfj.jpeg'>
        <% } %>
        <% if(mbti=='ENFP') { %>
            <img src="public/static/img/enfp.jpeg">
        <% } %>
        <% if(mbti=='ENTJ') { %>
            <img src="public/static/img/entj.jpeg">
        <% } %>
        <% if(mbti=='ENTP') { %>
            <img src="public/static/img/entp.jpeg">
        <% } %>
        <% if(mbti=='ESFJ') { %>
            <img src="public/static/img/esfj.jpeg">
        <% } %>
        <% if(mbti=='ESFP') { %>
            <img src="public/static/img/esfp.jpeg">
        <% } %>
        <% if(mbti=='ESTJ') { %>
            <img src="public/static/img/estj.jpeg">
        <% } %>
        <% if(mbti=='ESTP') { %>
            <img src="public/static/img/estp.jpeg">
        <% } %>
        <% if(mbti=='INFJ') { %>
            <img src="public/static/img/infj.jpeg">
        <% } %>
        <% if(mbti=='INFP') { %>
            <img src="public/static/img/infp.jpeg">
        <% } %>
        <% if(mbti=='INTJ') { %>
            <img src="public/static/img/intj.jpeg">
        <% } %>
        <% if(mbti=='INTP') { %>
            <img src="public/static/img/intp.jpeg">
        <% } %>
        <% if(mbti=='ISFJ') { %>
            <img src="public/static/img/isfj.jpeg">
        <% } %>
        <% if(mbti=='ISFP') { %>
            <img src="public/static/img/isfp.jpeg">
        <% } %>
        <% if(mbti=='ISTJ') { %>
            <img src="public/static/img/istj.png">
        <% } %>
        <% if(mbti=='ISTP') { %>
            <img src="public/static/img/istp.jpeg">
        <% } %>


    <div class="information">
        <!-- <ul>
            <li class="spot">정보<br><%=info%></li>
        </ul> -->
    </div>


    </div>

        <ul class="menu">
            <li class="menu-item">
            <div class="item">정보</div>
                <ul class="info">
                    <li><%= info %></li> 
                    <li><%= info %></li>
                    <li><%= info %></li>
                    <li><%= info %></li>
                </ul>
            </li>
            <li class="menu-item">
                <div class="item">위치</div>
                    <ul class="info">
                        <div id="map"></div>
                    </ul>
                </li>
                <li class="menu-item">
                    <div class="item">기타</div>
                        <ul class="info">
                            <li><%= info %></li> 
                            <li><%= info %></li>
                            <li><%= info %></li>
                            <li><%= info %></li>
                        </ul>
                    </li>
        </ul>


    <div class="btn">
        <button type="button" class="test-again" onclick="location.href='/mbtitest'">테스트 다시 하기</button>
        <button type="button" class="goto-main" onclick="location.href='/'">메인으로 돌아가기</button>
    </div>

    <script>
        window.initMap = function () {
            const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 37.5400456, lng: 126.9921017 },
            zoom: 10,
            });
        };
    </script>
</body>

</html>